body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #7A3E48;
    font-weight: bolder;
}

.jumbotron {
    background: linear-gradient(to bottom right, #7A3E48, #B95835);
    border: outset 7px #FFB341;
    color: #EECD86;
    margin-top: 20px;
}

.card {
    background: linear-gradient(to bottom right, #F49134, #FFB341);;
    margin-bottom: 30px;
}

#train-table {
    background: linear-gradient(to bottom left, #F49134, #FFB341);
    margin-bottom: 30px;
}

#add-train-button {
    background-color: #EECD86;
}